<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create your Article</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link href="../static/css/article-edit.css" rel="stylesheet" th:href="@{/css/article-edit.css}">

</head>

<body>
    <!-- Navigation -->
    <div th:insert="fragments/header :: header">Header / Navbar</div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Create your article</h5>
                    <div class="card-body">
                        <form th:action="@{/articles}" th:object="${article}" method="post">
                            <!--ArticleId is hidden-->
                            <input th:value="${article.id}" th:field="*{id}" name="id" type="hidden">
                            <!--ArticleTitle is required-->
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-auto m-auto">
                                        <label for="art-title">Title</label>
                                    </div>
                                    <div class="col">
                                        <input th:value="${article.title}" th:field="*{title}" class="form-control"
                                            id="art-title" name="art-title" placeholder="Choose a title" required
                                            type="text">
                                    </div>
                                </div>
                            </div>
                            <!--ArticleTag is required, but only one for now-->
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-auto m-auto">
                                        <label for="topic">Topics</label>
                                    </div>
                                    <div class="col">
                                        <div class="form-control" id="topic">
                                            <div th:each="tag : ${tags}" class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="tagCheckbox"
                                                    th:value="${tag.tagName}">
                                                <label class="form-check-label" for="tagCheckbox"
                                                    th:text="${tag.tagName}">Tag
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--ArticleImage is not required-->
                            <!--TODO: Importer les images au bon format-->
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-auto m-auto">
                                        <label class="align-middle" for="art-image">Upload an
                                            image</label>
                                    </div>
                                    <div class="col">
                                        <input th:value="${article.image}" th:field="*{image}" class="form-control"
                                            id="art-image" alt="your image" type="url">
                                    </div>
                                </div>
                            </div>
                            <!--UserId is required-->
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-auto m-auto">
                                        <label for="user-id">User Id</label>
                                    </div>
                                    <div class="col">
                                        <input th:value="${article.user.id}"
                                               th:field="*{user.id}" class="form-control"
                                            id="user-id" name="user-id" placeholder="What is your user-id?" required
                                            type="number">
                                    </div>
                                </div>
                            </div>
                            <!--ArticleContent is required-->
                            <div class="form-group">

                                <label class="mb-1" for="art-content">Content</label>
                                <textarea th:value="${article.content}" th:field="*{content}" class="form-control"
                                    id="art-content" name="art-content" placeholder="Let your imagination run wild ..."
                                    required type="text" rows="8" maxlength="100000"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div th:insert="fragments/search-widget :: search-widget">Search Widget</div>

                <!-- Categories Widget -->
                <div th:insert="fragments/categories-widget :: categories-widget">Categories Widget
                </div>

                <!-- Side Widget -->
                <div th:insert="fragments/widget :: widget">Widget</div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="fragments/footer :: footer">Footer</div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js" th:href="@{/vendor/jquery/jquery.min.css}"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>