<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Charlie's Angels - articles list</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

  <!-- Custom styles for this template -->
  <link href="../static/css/blog-article.css" rel="stylesheet" th:href="@{/css/blog-article.css}">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="fragments/header :: header">Header / Navbar</div>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4" th:text="${article.title}">Post Title</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#" th:text="|${article.user.firstName} ${article.user.lastName}|">Start Bootstrap</a>
        </p>

        <hr>

        <!-- Tags -->
        <tags class="ml-4 my-2">
          <span class="card-text" th:if="${article.listTag.empty}">
            <span class="card-text"><i>No Tags Available </i></span>
          </span>
          <span class="card-text" th:each="tag : ${article.listTag}">
            <a href="#" th:href="|/articles/tag/${tag.id}|" class="badge badge-pill badge-primary ml-2"
              th:text="${tag.tagName}"> Tag </a>
          </span>
        </tags>


        <!-- Date/Time -->
        <p th:text="|Publié le ${#dates.format(article.published, 'dd MMMM yyyy')}|">Posted on January 1, 2019 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img th:if="${article.image != ''}" class="img-fluid rounded" th:src="${article.image}"
             alt="">

        <hr>

        <!-- Post Content -->
        <p th:text="${article.content}">le contenu de notre article</p>

        <hr>

        <a th:href="@{/edit-article/{id}(id = ${article.id})}" class="btn btn-primary">Edit <i
            class='fas fa-pencil-alt'></i></a>
        <!-- TODO : delete no try !!!!!!-->
        <a th:href="@{/articles/{id}(id = ${article.id})}" class="btn btn-danger">Delete <i class='fas fa-trash-alt'></i></a>

        <hr>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div th:insert="fragments/search-widget :: search-widget">Search Widget</div>

        <!-- Categories Widget -->
        <div th:insert="fragments/categories-widget :: categories-widget">Categories Widget</div>

        <!-- Side Widget -->
        <div th:insert="fragments/widget :: widget">Widget</div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="fragments/footer :: footer">Footer</div>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"
          th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
          th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js }"></script>

  <!-- Fontawsome -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>

</html>