<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Charlie's Angels - home</title>

  <link rel="icon" type="image/png" href="../static/images/favicon.svg" th:href="@{images/favicon.svg}" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href=" ../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

  <!-- Custom styles for this template -->
  <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
  <link href="../static/css/fragments.css" rel="stylesheet" th:href="@{/css/fragments.css}">
  <link href="../static/css/blog-article.css" rel="stylesheet" th:href="@{/css/blog-article.css}">
  <link href="../static/css/blog-home.css" rel="stylesheet" th:href="@{/css/blog-home.css}">
  <link href="../static/css/fragments.css" rel="stylesheet" th:href="@{/css/fragments.css}">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="fragments/header :: header">Header / Navbar</div>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Welcome to my blog</h1>
        <h3>Here I share my passions with you</h3>

        <section th:each="article : ${articles}">
          <div th:insert="fragments/blog-article :: blog-article">Blog Article</div>
        </section>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div th:insert="fragments/search-widget :: search-widget">Search Widget</div>

        <!-- Categories Widget -->
        <div th:insert="fragments/categories-widget :: categories-widget">Categories Widget</div>

        <img class="my-4 ml-4" src="https://cdn2.iconfinder.com/data/icons/animals-nature-2/50/1F984-unicorn-512.png"
          width="300" height="280" alt="unicorn">

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="fragments/footer :: footer">Footer</div>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
    th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js }"></script>

  <!-- Fontawsome -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>

</html>